:root {
    --color-bg: #252525;
    --color-bg-dark: #111111;
    --color-text: #EEEEEE;
    --color-primary: #64DFDF;

    --font-primary: 'DM Sans', sans-serif;

    --transition-default: 0.3s ease;

    --container-padding-desktop: 0 12rem;
    --container-padding-tablet: 0 7rem;
    --container-padding-mobile: 0 4rem;

    --border-radius-sm: 0.4rem;

    --shadow-primary: 0.5rem 0.5rem 0.8rem #64DFDF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-padding-top: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-bg);
    color: var(--color-text);

    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100vh;

    overflow-x: hidden;
}

.container {
    width: min(1120px, 100% - 2rem);
    margin-inline: auto;
}